<br>
<br>
<br>
<br>
<br>
<h1>Edit Question</h1>

<%= form_for(@question) do |f| %>
	<%= f.label :question_title %>
	<%= f.text_field :question_title %>
	<%= f.label :question_body %>
	<%= f.text_field :question_body %>
	<%= f.label :career_list %>
	<%= f.text_field :career_list %>
	<%= f.label :company_list %>
	<%= f.text_field :company_list %>	
	<%= f.submit %>
<% end %>

<p><%= link_to "Delete", question_path(@question.id), :method => :Delete %>