<h1>Welcome to JobQuest</h1>
<hr>
<p><%= link_to "New Question", new_question_path%></p>


<br>
<br>
<br>
<br>
<h1>Interview Questions</h1>
<hr>
<% @question.each do |q| %>
	<h2>Question: <%= q.question_title %></h2>
	<p>Details: <%= q.question_body %></p>
	<p>Asked: <%= @user.find_by(id: q.user_id).email %></p>
	<% if current_user == q.user %>
		<%= link_to "Edit", edit_question_path(q.id) %> | <%= link_to "Delete", :confirm => "Are you sure ?", :method => :delete %>
		<% else %>
		<% end %>
	<hr>
<% end %>
